.ordersList-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.ordersList-input{
    font-size: 18px;
}

.orderDescription{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.orderDescription hr{
    margin-top: 10px;
    height: 1px;
}

.orderinfo-alldetails{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.orderinfo-details{
    padding-top: 5px;
    width: 100%;
}

.orderinfo_content{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding-top: 5px;
}

.orderinfo_content p{
    font-weight: 600;
    white-space: pre;
    margin: 0;
}

.accepted{
    background: linear-gradient(90deg, #ebebeb 15%, #155719 70%);
    font-size: 20px;
}

.declined{
    background: linear-gradient(90deg ,#ebebeb 15%, #631313 70%);
    font-size: 20px;
}

.processing{
    background: linear-gradient(90deg,#ebebeb 15%, #134670 70%);
    font-size: 20px;
}

.orderimage{
    margin-right: -40px;
}

.orderimage img{
    width: 60%;
    height: auto;
}

.orderlist-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.orderlist-buttons button{
    border-radius: 30px;
    border: 2px solid #3f3f3f;
}

.checkButton:hover{
    background-color: rgb(24, 117, 24);
}

.cancelButton:hover{
    background-color: rgb(168, 30, 30);
}