.users{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
}

.listusers-allusers hr{
    width: 700px;
}

.listusers-alldetails{
    display: flex;
    flex-direction: row;
}

.listusers_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.listusers_content-right{
    display: flex;
    padding: 8px 10px; 
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.listusers_content p{
    font-weight: 600;
    gap: 0;
    margin: 8px 0;
    white-space: pre;
}