.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: relative;
    z-index: 9;
    box-shadow: 0 3px 3px 1px #4e4e4e;
    margin-bottom: 1px;
    background-color: black;
}

.nav-logo{
    width: 200px;
}

.nav-profile{
    width: 75px;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}